/**
* Stylesheet for meetswitzerland.ch
* Rules: - Order a-z0-9
*/

/**
* general styling tags
*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

/**
* general styling classes
*/
.transparent-blue-box {
	background: rgba(0, 67, 255, 140);
	border-radius: 10px;
	box-shadow: 0 0 25px 0 #4949FC;
	padding: 15px;
}

/**
* specific styling home
*/
.home {
	background:url('../img/wallpapers/wp-matterhorn-day.jpg');
    position: relative;
}

.home .title, .home .label {
	color: #fff;
}

.home .container {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateX(-50%);
	transform: translateY(-50%);
}

.home .wrapper {
	background-color: rgba(255, 255, 255, 100);
    height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
}

.home .button-bar {
	padding-top: 15px;
}

.home .button-bar .button {
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    width: 100%;
}