/**
* Stylesheet for meetswitzerland.ch
* Rules: - Order a-z0-9
*/

/**
* general styling tags
*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.cart-button, .profile-button, .filter-button {
	height: 30px;
}

.glyphicon-search {
	color: grey;
	font-size: 1.3em;
	left: 25px;
	position: absolute;
	top: 5px;
}

.glyphicon-shopping-cart, .glyphicon-user, .glyphicon-align-justify {
    font-size: 25px;
	position: relative;
    text-align: center;
}

.search {
	border: none;
	border-radius: 5px;
	color: grey;
	padding: 5px 5px 5px 30px;
	width: 100%;
}

.search:focus {
	outline: none;
}

/**
* general styling classes
*/
.transparent-white-box {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	padding: 30px 15px;
}

.transparent-blue-box {
	background: rgba(92, 183, 242, 0.6);
	border-radius: 5px;
	padding: 30px 15px;
}

.background-image {
	background:url('../img/wallpapers/wp-matterhorn-day.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    position: relative;
}

.container-fluid .row {
	margin-bottom: 30px;
}

.pagetitle {
	color: #fff;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}

.ui-state-default {
    height: 80px;
}

.img-wrapper img{
    height: 30px;
    width: 30px;
}

.flex-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.overflow-hider {
    width: 100%;
    overflow: hidden;
}

.question-wrapper {
    display: flex;
    width: 400%;
    transition: margin-left .5s;
    transition-timing-function: ease;
}

.question-box {
    width: 100%;
}

/**
* specific styling home
*/

.home .transparent-white-box {
	padding: 30px 225px;
}

.home .title, .home .label {
	color: #000;
}

.home .label {
	font-size: 16px;
	padding: 10px 0;
}

.home .question-wrapper{
    height: 180px;
}

.home .input-text {
	border: none;
	border-radius: 5px;
	color: grey;
	padding: 5px;
	width: 70%;
}

.home .input-text:focus {
	outline: none;
}

.home .container {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.home .wrapper {
	/*background-color: rgba(255, 255, 255, 0.5);*/
	height: 100%;
    min-height: 100vh;
    width: 100%;
}

.home .button-bar {
	padding-top: 15px;
}

.home .button-bar .button {
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 5px;
    width: 100%;
	
	/* Firefox */
    -moz-transition: all 0.2s ease-in;
    /* WebKit */
    -webkit-transition: all 0.2s ease-in;
    /* Opera */
    -o-transition: all 0.2s ease-in;
    /* Standard */
    transition: all 0.2s ease-in;
}

.home .button-bar .button:hover {
	background-color: #fff;
	box-shadow: none;
	color: #5CB7F2;
	
    /* Firefox */
    -moz-transition: all 0.2s ease-in;
    /* WebKit */
    -webkit-transition: all 0.2s ease-in;
    /* Opera */
    -o-transition: all 0.2s ease-in;
    /* Standard */
    transition: all 0.2s ease-in;
}

.home .skip.button {
	border: none;
    color: #fff;
    display: block;
    font-size: 24px;
    font-weight: bold;
	padding: 5px;
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 100;
	
	/* Firefox */
    -moz-transition: all 0.2s ease-in;
    /* WebKit */
    -webkit-transition: all 0.2s ease-in;
    /* Opera */
    -o-transition: all 0.2s ease-in;
    /* Standard */
    transition: all 0.2s ease-in;
}

.home .skip.button:hover {
	cursor: pointer;
	background: #fff;
	color: #5CB7F2;
	
	/* Firefox */
    -moz-transition: all 0.2s ease-in;
    /* WebKit */
    -webkit-transition: all 0.2s ease-in;
    /* Opera */
    -o-transition: all 0.2s ease-in;
    /* Standard */
    transition: all 0.2s ease-in;
}

.home .pagetitle {
	color: #000;
	text-align: left;
}

/**
* media tablet
**/
@media screen and (min-width: 768px) and (max-width: 992px) {
	
	.home .transparent-white-box {
		padding: 30px 30px;
	}
}

/**
* media smartphone
**/
@media screen and (max-width: 768px) {
	
	.home .transparent-white-box {
		padding: 30px 30px;
	}

	.home .container {
		left: 0;
		position: relative;
		top: 0;
		transform: none;
	}

	.container {
		width: 80%;
	}
	
	.button {
		font-size: 20px;
	}
	
	.home .label {
		display: block;
		width: 100%;
	}
	
	.home .input-text {
		display: block;
		width: 100%;
	}
	
	.form .col-xs-12:after {
		clear: both;
		content: "";
		display: table;
		float: none;
		line-height: 0;
	}
	
	.button-bar .col-xs-12 {
		padding: 15px 0;
	}
}
